.card{
    position: relative;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    background: #FFFFFF;
    max-width: 350px;
}

.card__group{
    padding: 0 24px 24px 15px;
}

.card__image{
    width: 100%;
    object-fit: contain;
}

.card__heading{
    display: inline-block;
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.15;
    color: #1A1B22;
}

.card__text{
    display: inline-block;
    margin: 0;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.37;
    color: #1A1B22;
}

.card__info{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #B6BCBF;
}

.card__flag-icon{
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
}

.card__info-text{
    position: absolute;
    top: 10px;
    left: 100px;
    width: 182px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.6s ease-in;
}

.card__flag-icon:hover + .card__info-text{ opacity: 1; }

@media screen and (max-width: 1100px) {
    .card__group{
        padding: 0 16px 16px 16px;
    }

    .card__heading{
        margin-bottom: 10px;
        font-size: 22px;
    }
}

@media screen and (max-width: 669px) {
    .card{
        width: 288px;
        margin-bottom: 10px;
    }

    .card:last-of-type{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 669px) {
    .card{
        width: 350px;
    }
}

@media screen and (max-width: 426px) {
    .card{
        width: 100%;
    }
}