.main-page{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.pokemons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .pokemons{
        justify-content: center;
    }
}