.trash{
    border: none;
    background: rgb(177, 177, 238);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../images/icons/trash.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.trash:hover{
    background-image: url('../../../images/icons/trash-hover.svg');
}


